/* Add your CSS to this file */

:root{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 16px;
}

header {
    background-color: white;
    font-size: 18px;   
}
header .container{
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
}
header h1 {
    padding-top: 1px;
    padding-left: 1px; 
    padding-bottom: 1px;
    padding-right: 1px;
}
header .container nav {
    justify-content: center;
    padding-top: 20px;
    padding-left: 1px; 
    padding-bottom: 1px;
    padding-right: 1px;
}
header li{
    font-size: 18px;
    display: inline-block;
    color: #6b7280;
    padding-right: 5px;
}

header .container nav:hover {
    color: #5A67D8
}

 a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero {
    background-color: #E2E8F0;
    text-align: left;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 0;
    padding-top: 5px;
    padding-left: 30%;
    padding-bottom: 5px;
    padding-right: 30%;
}
.overview-hero .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
}
.overview-hero .container .overview-hero-text{
    word-wrap: break-word;
    padding-top: 10px;
    margin-left: 0;
    padding-bottom: 10px;
    margin-right: 0;
}

.overview-hero img{
    float: left;
    display: flex;
    width: 50%;
    height: 50%;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;

}
.learn-about {
    margin: 10px;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 2%;
    padding-right: 1%;
}

.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}
.learn-about img{
    width: 95%;
    height: 55%;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    column-width: 50px;   
    
  }

.card {
    text-align: center;
    width: 320px;
    height: 480px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.learn-about .cards .card h3 {
    text-align: left;
    font-size: 21px;
    color: #48BB78;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 0;
}
.learn-about .cards .card p {
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.testing {
    background-color: #4A5568;
    color: white;
    margin: 0;
    padding-top: 4%;
    padding-left: 25%;
    padding-bottom: 4%;
    padding-right: 25%;
}

.testing .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.testing h2{
    text-align: left;
}

.testing .container .testing-description {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 100%;
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 4%;
    padding-right: 150px;
}

.testing .container p {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 130px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
/*.testing .container .cta {
    text-align: center;
    background-color: #4A5568;
    padding: 5px;
    border-radius: 5px;
}*/

.testing a{
    background-color: #48BB78 ;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 5px;
}


.stories{
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 5px;
    padding-right: 0;   
    
}
.stories .container{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;   
}
.stories .article{
    
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding-top: 1%;
    padding-left: 13%;
    padding-bottom: 1%;
    padding-right: 13%;
}
.stories h2{
    color: #5A67D8;
    font-size: 18px;
}
.stories a{
    color: #5A67D8;
    font-size: 18px;
}

.stories img{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 7%;
    padding-right: 30px;
}

.stories .article-body{
    word-wrap: break-word;
    margin: 5px;
    padding-top: 5px;
    padding-left: 150px;
    padding-bottom: 5px;
    padding-right: 30%;
    
}
.stories .article-body h3{
    margin: 5px;
}
.stories .article-body a{
    margin: 5px;
}

.newsletter{
    background-color: #48BB78;
    color: white;
    padding-top: 2em;
}
.newsletter div.container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 30em;
    padding: 1em 2em 3.5em 2em;
    flex-flow: column wrap;
}
.newsletter form{
    display: flex;
    align-self: flex-start;
    flex-flow: row nowrap;
}
.newsletter form input{
    border: none;
    border-radius: 0.4em;
    width: 21em;
    height: 3em;
    padding-left: 1em;
}
.newsletter button{
    background-color: #5A67D8;
    color:white;
    border-radius: 0.4em;
    border : none;
    margin-left: 5px;
    width: 10em;
}

footer{
    background-color: #4A5568;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}